@import 'color';


footer{
    background-color: $first;
    width: 100%;
    height: 200px;
    padding: 2rem;
    display: flex;
    justify-content: space-between;
    

    > div{
        display: flex;
        flex-direction: column;
        justify-content: center;


        > h1{
            // padding: 0.25rem 0;
            // letter-spacing: 2px;
            text-transform: uppercase;
            color: $fourth;
            font: 700 2rem $text1;

            > span{
                color: $third;
            }
        }

        > p{
            // color: white;
            // padding: 0.25rem 0;
            font: 500 1.2rem $text1;
        }

        >h5{
            margin: 1rem 0;
            font: 300 2rem $text1;
            text-align: center; 
        }

        > div{
            display: flex;
            // flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 0.5rem 0;

            >a{
                scale: 2;
                margin: 0 1rem;
                // padding: 0 1rem;
                transition: 0.3s all;
                &:hover{
                    scale: 2.2;
                }
            }
        }
    }

    >div{
        flex-direction: column;
        align-items: center;
        justify-content: center;

        

        
    }
}